body {
  text-align: center;
  padding: 10px;
}

h1 span{
  display: inline-block;
}

.chartContainer{
  width: 95%;
  margin: 0 auto;
  overflow-x: scroll;
}

@media (min-width: 1024px) {
  .Container{
    width: 70%;
  }
}

@media (max-width: 1023px) {
  #myLineChart {
    min-width: 400px;
    min-height: 200px;
  }
} 
  
.buttons {
  margin-bottom: 40px;
}

h2{
  font-size: 1rem;
}